Machine/Machine/Web References/EquToMesRecipeGetAPI/EquToMesRecipeGet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRecipe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:RecipeGet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecipeGet">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiRequestByScada">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RecipeCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiRequestByScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Validation">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ResourceCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EquipmentCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LocalTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Validation" />
      <s:element name="GetRecipeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecipeResult" type="tns:ApiResponseDataForScadaOfRecipeGetForEqu" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponseDataForScadaOfRecipeGetForEqu">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiResponseForScada">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:RecipeGetForEqu" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiResponseForScada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecipeGetForEqu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdateOnTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ParamList" type="tns:ArrayOfRecipeGetParamForEqu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRecipeGetParamForEqu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RecipeGetParamForEqu" nillable="true" type="tns:RecipeGetParamForEqu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecipeGetParamForEqu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ParamCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParamUpper" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParamLower" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParamValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginSoapHeader" type="tns:LoginSoapHeader" />
      <s:complexType name="LoginSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EquUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EquPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRecipeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="GetRecipeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecipeLoginSoapHeader">
    <wsdl:part name="LoginSoapHeader" element="tns:LoginSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="EquToMesRecipeGetSoap">
    <wsdl:operation name="GetRecipe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取开机参数明细</wsdl:documentation>
      <wsdl:input message="tns:GetRecipeSoapIn" />
      <wsdl:output message="tns:GetRecipeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EquToMesRecipeGetHttpGet" />
  <wsdl:portType name="EquToMesRecipeGetHttpPost" />
  <wsdl:binding name="EquToMesRecipeGetSoap" type="tns:EquToMesRecipeGetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRecipeLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeGetSoap12" type="tns:EquToMesRecipeGetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipe">
      <soap12:operation soapAction="http://tempuri.org/GetRecipe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRecipeLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeGetHttpGet" type="tns:EquToMesRecipeGetHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeGetHttpPost" type="tns:EquToMesRecipeGetHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="EquToMesRecipeGet">
    <wsdl:port name="EquToMesRecipeGetSoap" binding="tns:EquToMesRecipeGetSoap">
      <soap:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeGet.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeGetSoap12" binding="tns:EquToMesRecipeGetSoap12">
      <soap12:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeGet.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeGetHttpGet" binding="tns:EquToMesRecipeGetHttpGet">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeGet.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeGetHttpPost" binding="tns:EquToMesRecipeGetHttpPost">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeGet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>