Machine/Machine/Web References/EquToMesOperatorLoginAPI/EquToMesOperatorLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OperatorLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:OperatorLogin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OperatorLogin">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiRequestByScada">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="OperatorUserID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OperatorPassword" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiRequestByScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Validation">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ResourceCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EquipmentCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LocalTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Validation" />
      <s:element name="OperatorLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OperatorLoginResult" type="tns:ApiResponseForScada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponseForScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiResponseForScada" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiResponseForScada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginSoapHeader" type="tns:LoginSoapHeader" />
      <s:complexType name="LoginSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EquUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EquPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OperatorLoginSoapIn">
    <wsdl:part name="parameters" element="tns:OperatorLogin" />
  </wsdl:message>
  <wsdl:message name="OperatorLoginSoapOut">
    <wsdl:part name="parameters" element="tns:OperatorLoginResponse" />
  </wsdl:message>
  <wsdl:message name="OperatorLoginLoginSoapHeader">
    <wsdl:part name="LoginSoapHeader" element="tns:LoginSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="EquToMesOperatorLoginSoap">
    <wsdl:operation name="OperatorLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">操作员登录</wsdl:documentation>
      <wsdl:input message="tns:OperatorLoginSoapIn" />
      <wsdl:output message="tns:OperatorLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EquToMesOperatorLoginHttpGet" />
  <wsdl:portType name="EquToMesOperatorLoginHttpPost" />
  <wsdl:binding name="EquToMesOperatorLoginSoap" type="tns:EquToMesOperatorLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperatorLogin">
      <soap:operation soapAction="http://tempuri.org/OperatorLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:OperatorLoginLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesOperatorLoginSoap12" type="tns:EquToMesOperatorLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperatorLogin">
      <soap12:operation soapAction="http://tempuri.org/OperatorLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:OperatorLoginLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesOperatorLoginHttpGet" type="tns:EquToMesOperatorLoginHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="EquToMesOperatorLoginHttpPost" type="tns:EquToMesOperatorLoginHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="EquToMesOperatorLogin">
    <wsdl:port name="EquToMesOperatorLoginSoap" binding="tns:EquToMesOperatorLoginSoap">
      <soap:address location="http://10.36.23.222:8095/EquToMes/EquToMesOperatorLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesOperatorLoginSoap12" binding="tns:EquToMesOperatorLoginSoap12">
      <soap12:address location="http://10.36.23.222:8095/EquToMes/EquToMesOperatorLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesOperatorLoginHttpGet" binding="tns:EquToMesOperatorLoginHttpGet">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesOperatorLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesOperatorLoginHttpPost" binding="tns:EquToMesOperatorLoginHttpPost">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesOperatorLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>