Machine/Machine/Web References/EquToMesDownReasonAPI/EquToMesDownReason.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DownReason">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modelList" type="tns:ArrayOfDownReason" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDownReason">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DownReason" nillable="true" type="tns:DownReason" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DownReason">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiRequestByScada">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DownReasonCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BeginTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiRequestByScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Validation">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ResourceCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EquipmentCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LocalTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Validation" />
      <s:element name="DownReasonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownReasonResult" type="tns:ApiResponseForScada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponseForScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiResponseForScada" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiResponseForScada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginSoapHeader" type="tns:LoginSoapHeader" />
      <s:complexType name="LoginSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EquUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EquPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownReasonSoapIn">
    <wsdl:part name="parameters" element="tns:DownReason" />
  </wsdl:message>
  <wsdl:message name="DownReasonSoapOut">
    <wsdl:part name="parameters" element="tns:DownReasonResponse" />
  </wsdl:message>
  <wsdl:message name="DownReasonLoginSoapHeader">
    <wsdl:part name="LoginSoapHeader" element="tns:LoginSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="EquToMesDownReasonSoap">
    <wsdl:operation name="DownReason">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设备停机原因</wsdl:documentation>
      <wsdl:input message="tns:DownReasonSoapIn" />
      <wsdl:output message="tns:DownReasonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EquToMesDownReasonHttpGet" />
  <wsdl:portType name="EquToMesDownReasonHttpPost" />
  <wsdl:binding name="EquToMesDownReasonSoap" type="tns:EquToMesDownReasonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownReason">
      <soap:operation soapAction="http://tempuri.org/DownReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DownReasonLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesDownReasonSoap12" type="tns:EquToMesDownReasonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownReason">
      <soap12:operation soapAction="http://tempuri.org/DownReason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DownReasonLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesDownReasonHttpGet" type="tns:EquToMesDownReasonHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="EquToMesDownReasonHttpPost" type="tns:EquToMesDownReasonHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="EquToMesDownReason">
    <wsdl:port name="EquToMesDownReasonSoap" binding="tns:EquToMesDownReasonSoap">
      <soap:address location="http://10.36.23.222:8095/EquToMes/EquToMesDownReason.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesDownReasonSoap12" binding="tns:EquToMesDownReasonSoap12">
      <soap12:address location="http://10.36.23.222:8095/EquToMes/EquToMesDownReason.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesDownReasonHttpGet" binding="tns:EquToMesDownReasonHttpGet">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesDownReason.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesDownReasonHttpPost" binding="tns:EquToMesDownReasonHttpPost">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesDownReason.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>