Machine/Machine/Web References/EquToMesRecipeListGetAPI/EquToMesRecipeListGet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRecipeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:RecipeListGet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecipeListGet">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiRequestByScada">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiRequestByScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Validation">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ResourceCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EquipmentCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LocalTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Validation" />
      <s:element name="GetRecipeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecipeListResult" type="tns:ApiResponseDataForScadaOfListOfRecipeListGetForEqu" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponseDataForScadaOfListOfRecipeListGetForEqu">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiResponseForScada">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfRecipeListGetForEqu" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiResponseForScada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRecipeListGetForEqu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RecipeListGetForEqu" nillable="true" type="tns:RecipeListGetForEqu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecipeListGetForEqu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RecipeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdateOnTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginSoapHeader" type="tns:LoginSoapHeader" />
      <s:complexType name="LoginSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EquUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EquPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRecipeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecipeList" />
  </wsdl:message>
  <wsdl:message name="GetRecipeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecipeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecipeListLoginSoapHeader">
    <wsdl:part name="LoginSoapHeader" element="tns:LoginSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="EquToMesRecipeListGetSoap">
    <wsdl:operation name="GetRecipeList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取开机参数列表</wsdl:documentation>
      <wsdl:input message="tns:GetRecipeListSoapIn" />
      <wsdl:output message="tns:GetRecipeListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EquToMesRecipeListGetHttpGet" />
  <wsdl:portType name="EquToMesRecipeListGetHttpPost" />
  <wsdl:binding name="EquToMesRecipeListGetSoap" type="tns:EquToMesRecipeListGetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipeList">
      <soap:operation soapAction="http://tempuri.org/GetRecipeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRecipeListLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeListGetSoap12" type="tns:EquToMesRecipeListGetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipeList">
      <soap12:operation soapAction="http://tempuri.org/GetRecipeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRecipeListLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeListGetHttpGet" type="tns:EquToMesRecipeListGetHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeListGetHttpPost" type="tns:EquToMesRecipeListGetHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="EquToMesRecipeListGet">
    <wsdl:port name="EquToMesRecipeListGetSoap" binding="tns:EquToMesRecipeListGetSoap">
      <soap:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeListGet.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeListGetSoap12" binding="tns:EquToMesRecipeListGetSoap12">
      <soap12:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeListGet.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeListGetHttpGet" binding="tns:EquToMesRecipeListGetHttpGet">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeListGet.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeListGetHttpPost" binding="tns:EquToMesRecipeListGetHttpPost">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeListGet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>