Machine/Machine/Web References/EquToMesRecipeVEAPI/EquToMesRecipeVersionExamine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecipeVersionExamine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:RecipeVersionExamine" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecipeVersionExamine">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiRequestByScada">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RecipeCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiRequestByScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Validation">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ResourceCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EquipmentCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LocalTime" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Validation" />
      <s:element name="RecipeVersionExamineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecipeVersionExamineResult" type="tns:ApiResponseForScada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponseForScada">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseApiResponseForScada" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseApiResponseForScada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginSoapHeader" type="tns:LoginSoapHeader" />
      <s:complexType name="LoginSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EquUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EquPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecipeVersionExamineSoapIn">
    <wsdl:part name="parameters" element="tns:RecipeVersionExamine" />
  </wsdl:message>
  <wsdl:message name="RecipeVersionExamineSoapOut">
    <wsdl:part name="parameters" element="tns:RecipeVersionExamineResponse" />
  </wsdl:message>
  <wsdl:message name="RecipeVersionExamineLoginSoapHeader">
    <wsdl:part name="LoginSoapHeader" element="tns:LoginSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="EquToMesRecipeVersionExamineSoap">
    <wsdl:operation name="RecipeVersionExamine">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">开机参数版本校验</wsdl:documentation>
      <wsdl:input message="tns:RecipeVersionExamineSoapIn" />
      <wsdl:output message="tns:RecipeVersionExamineSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EquToMesRecipeVersionExamineHttpGet" />
  <wsdl:portType name="EquToMesRecipeVersionExamineHttpPost" />
  <wsdl:binding name="EquToMesRecipeVersionExamineSoap" type="tns:EquToMesRecipeVersionExamineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecipeVersionExamine">
      <soap:operation soapAction="http://tempuri.org/RecipeVersionExamine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RecipeVersionExamineLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeVersionExamineSoap12" type="tns:EquToMesRecipeVersionExamineSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecipeVersionExamine">
      <soap12:operation soapAction="http://tempuri.org/RecipeVersionExamine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RecipeVersionExamineLoginSoapHeader" part="LoginSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeVersionExamineHttpGet" type="tns:EquToMesRecipeVersionExamineHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="EquToMesRecipeVersionExamineHttpPost" type="tns:EquToMesRecipeVersionExamineHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="EquToMesRecipeVersionExamine">
    <wsdl:port name="EquToMesRecipeVersionExamineSoap" binding="tns:EquToMesRecipeVersionExamineSoap">
      <soap:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeVersionExamine.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeVersionExamineSoap12" binding="tns:EquToMesRecipeVersionExamineSoap12">
      <soap12:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeVersionExamine.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeVersionExamineHttpGet" binding="tns:EquToMesRecipeVersionExamineHttpGet">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeVersionExamine.asmx" />
    </wsdl:port>
    <wsdl:port name="EquToMesRecipeVersionExamineHttpPost" binding="tns:EquToMesRecipeVersionExamineHttpPost">
      <http:address location="http://10.36.23.222:8095/EquToMes/EquToMesRecipeVersionExamine.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>